{% extends 'base.html' %}

{% block head %} 
    <title>Home Page</title>
{% endblock %}
<bgcolor="yellow">
{% block body %}
<h1 ><center>About Us</center></h1>
<table align="center">
    <tr>
        <td width="100"> Team ID :</td>
        <td width="150">PNT2022TMID26452</td>
    </tr>
    <tr>
        <td width="100"> Project Name :</td>
        <td width="180">Personal Expense Tracker Application </td>
    </tr>
    <tr>
        <td width="120"> Team Members :</td>
        <td width="250"></td>
    </tr>
    <tr>
        <td width="120"></td>
        <td width="150">  SURIYA M S(team lead)</td>
    </tr>
    <tr>
        <td width="120"></td>
        <td width="150">  RUHIT KRISHNAN M</td>
    </tr>
    <tr>
        <td width="120"></td>
        <td width="150"> SARAN T</td>
    </tr>
    <tr>
        <td width="121"></td>
        <td width="150"> THAMIZHCHELVAN R</td>
    </tr>

</bgcolor>
{% endblock %} 
